<div class="page">
  <div class="title-div">
    <h1 class="title" align="center">Choix du type de compte</h1>
    <h2 class="title2" align="center">Veuillez choisir le type de compte que vous souhaitez créer.</h2>
  </div>
  <div class="container">
      <button mat-raised-button class="client" [routerLink]="['/register']" type="submit" color="primary">Client</button>
      <button mat-raised-button class="marchand" [routerLink]="['/merchant']" type="submit" color="primary">Marchand</button>
  </div>
</div>